@import 'styles/vars.css';
@import 'styles/grid.css';
@import 'styles/reset.css';
@import 'styles/fonts.css';
@import 'styles/header.css';
@import 'styles/hero.css';

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', system-ui, sans-serif;
  color: var(--basic-white);
  font-variant-numeric: lining-nums proportional-nums;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: var(--p1) dotted 0.125rem;
  outline-offset: 0.05em;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}
