@import 'styles/vars.css';
@import 'styles/grid.css';
@import 'styles/reset.css';
@import 'styles/fonts.css';
@import 'styles/header.css';
@import 'styles/hero.css';
@import 'styles/layouts.css';

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', system-ui, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: clamp(var(--mobile-body), 2.5vw, var(--tablet-body));
  color: var(--basic-white);
  font-variant-numeric: lining-nums proportional-nums;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: var(--basic-white) dotted 0.125rem;
  outline-offset: 0.05em;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: clamp(var(--mobile-h1), 6vw, var(--tablet-h1));
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(var(--mobile-h2), 6vw, var(--tablet-h2));
  font-weight: 300;
  line-height: 1.6;
  text-transform: uppercase;
}

h4 {
  font-size: clamp(var(--mobile-h4), 4vw, var(--tablet-h4));
  font-weight: 300;
  line-height: 1.6;
}

.button {
  display: inline-flex;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: var(--mobile-gap1);
  background: var(--p2, #e9dfc8);
  color: var(--basic-black, #343434);
  font-size: var(--tablet-body2);
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
}

.button--secondary {
  color: var(--basic-white, #ffffff);
  background: var(--p1, #76564b);
}

.body-2 {
  font-size: clamp(var(--mobile-body2), 3vw, var(--tablet-body2));
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}
