.back-to-top {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 9999rem;
  border: 0.5px solid var(--basic-white, #fff);
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}

.back-to-top__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top__icon {
  width: 2rem;
  height: 2rem;
}

.back-to-top__icon img {
  width: 100%;
  height: 100%;
}

/* Desktop screens: 1248px - x */
@media (min-width: 78rem) {
  .back-to-top {
    display: flex;
  }
}
