.contacts {
  font-size: var(--tablet-body1);
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--mobile-gap3);
}

.contacts__title {
  margin: 0 auto;
  font-size: var(--tablet-h4);
}

.contacts__info {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contacts__info-item {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: var(--desktop-gap3);
  border: 1px solid var(--p1, #76564b);
}

.contacts__info-item--address {
  border-left: none;
}

.contacts__info-item--schedule {
  border-right: none;
}

.contacts__info-phones,
.contacts__info-week {
  display: flex;
  flex-direction: column;
}

.contacts__info-lunch {
  color: var(--basic-grey2, #8d8d8d);
}

.contacts__info-emails {
  display: flex;
  justify-content: center;
  gap: var(--desktop-gap3);
}

.contacts__info-emails-item {
  display: flex;
  flex-direction: column;
  gap: var(--mobile-gap2);
}

.contacts__form {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: var(--desktop-gap3);
}

.contacts__form-title {
  max-width: 13.75rem;
  font-size: var(--tablet-h4);
}

.contacts__form-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--desktop-gap3);
}

.contacts__form-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--desktop-gap3);
}

.contacts__form-input {
  color: var(--basic-white, #fff);
  flex-basis: 100%;
  padding: 0.25rem 0rem 0.625rem 0rem;
  border-bottom: 1px solid var(--basic-white, #fff);

  &::placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.contacts__form-checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: var(--desktop-gap3);
  cursor: pointer;
}

.contacts__form-checkbox {
  position: relative;
  height: 1.25rem;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--basic-white, #fff);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contacts__form-label {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--a1, #b6a282);
  }
}

.contacts__form-checkbox:checked::after {
  content: url('../assets/icons/checkmark.svg');
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1rem;
  aspect-ratio: 1 / 1;
}

.contacts__form-checkbox-wrapper label {
  cursor: pointer;
}

/* Custom screens: 880px - x */
@media (min-width: 55rem) {
  .contacts__wrapper {
    gap: 2.8125rem;
  }

  .contacts__info {
    flex-direction: row;
    justify-content: center;
  }
  .contacts__form {
    flex-direction: row;
    padding: 2rem 0rem;
    justify-content: space-between;
  }

  .contacts__form > button {
    align-self: flex-start;
  }

  .contacts__form-wrapper {
    justify-content: space-between;
    flex-direction: column;
    flex: 1 0 0;
  }

  .contacts__form-input-wrapper {
    justify-content: space-between;
    flex-direction: row;
  }
}

/* Desktop screens: 1248px - x */
@media (min-width: 78rem) {
  .contacts__form-title {
    min-width: none;
    min-width: 13.75rem;
  }
}
