.cookies {
  width: 75%;
  position: fixed;
  top: auto;
  bottom: 3rem;
  right: -100%;
  left: auto;
  border: 1px solid var(--p1, #76564b);
  background: var(--basic-black, #343434);
  padding: 1.5rem;
  transition: right 0.8s cubic-bezier(0.25, -0.25, 0.1, 1.2);
}

.cookies.open {
  right: 3rem;
}

.cookies::backdrop {
  background: none;
}

.cookies__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--desktop-gap3);
}

.cookies__description {
  font-size: var(--tablet-body1);
  color: var(--basic-white, #fff);
  flex: 1 0 0;
}

/* Tablet screens: 640px - x */
@media (min-width: 40rem) {
  .cookies {
    width: 80%;
    max-width: 37.5rem;
  }

  .cookies__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--desktop-gap3);
  }
}
