.footer {
  font-size: var(--tablet-body1);
  color: var(--basic-grey2, #8d8d8d);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--desktop-gap3);
}

.footer__about {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--basic-grey1, #646363);
  text-align: left;
  font-size: 0.75rem;
}

.footer__link {
  font-size: 0.75rem;
}

/* Tablet screens: 640px - x */
@media (min-width: 40rem) {
  .footer__description {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
