/*Mobile screens: 0px - x */
.grid-container {
  width: 100%;
  display: grid;
  padding-inline: var(--mobile-gap3);
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: clamp(0px, calc(100vw - 320px), var(--mobile-gap3));
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-7 {
  grid-column: span 7;
}

.col-full {
  grid-column: 1 / -1;
}

/* Tablet screens: 640px - x */
@media (min-width: 40rem) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    gap: var(--mobile-gap3);
    padding-inline: var(--desktop-gap3);
  }
}

/* Desktop screens: 1248px - x */
@media (min-width: 78rem) {
  .grid-container {
    width: auto;
    padding-inline: 0;
    grid-template-columns: repeat(12, 4.875rem);
    gap: var(--desktop-gap3);
  }
}
