:root {
  --hero-bg-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.hero__slides {
  display: flex;
  width: 400%;
  height: 100%;
}

.hero__slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-basis: 100%;
  align-items: end;
  padding-bottom: 3rem;
}

.hero__slide-first {
  background-image: var(--hero-bg-gradient), url('../assets/img/hero-bg1.png');
}

.hero__slide-second {
  background-image: var(--hero-bg-gradient), url('../assets/img/hero-bg2.jpg');
}

.hero__slide-third {
  background-image: var(--hero-bg-gradient), url('../assets/img/hero-bg3.jpg');
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
}

.hero__indicators {
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  gap: var(--mobile-gap3);
}

.hero__indicator {
  height: 100%;
  background-color: var(--basic-grey1);
  cursor: pointer;
  transition: background-color 2.5s ease;
}

.hero__indicator--active {
  background-color: var(--basic-white);
}
