:root {
  /* Colors */
  /* Primary */
  --p1: #76564b;
  --p2: #e9dfc8;

  /* Additional */
  --a1: #b6a282;
  --a2: #e9dfc8;

  /* Basic */
  --basic-black: #343434;
  --basic-grey1: #646363;
  --basic-grey2: #8d8d8d;
  --basic-grey3: #d0d0d0;
  --basic-grey4: #f1f3f8;
  --basic-white: #ffffff;

  /* Hover rules */
  --p1--hover: var(--a1);
  --p2--hover: var(--basic-grey1);
  --basic-black--hover: var(--p1);
  --basic-grey1--hover: var(--p1);
  --a2--hover: var(--p2);
  --basic-white--hover: var(--p2);

  /* Typography */
  /* Mobile */
  --mobile-h1: 2.25rem;
  --mobile-h2: 1.75rem;
  --mobile-h3: 1.5rem;
  --mobile-h4: 1rem;
  --mobile-h5: 1rem;
  --mobile-body1: 0.8125rem;
  --mobile-body2: 0.75rem;

  /* Tablet, Desktop */
  --tablet-h1: 3.5rem;
  --tablet-h2: 2.25rem;
  --tablet-h3: 1.875rem;
  --tablet-h4: 1.25rem;
  --tablet-h5: 1.25rem;
  --tablet-body1: 1rem;
  --tablet-body2: 0.875rem;
  --tablet-body3: 0.75rem;

  /* Gaps */
  /* Mobile, Tablet */
  --mobile-gap1: 0.5rem;
  --mobile-gap2: 0.5rem;
  --mobile-gap3: 1rem;
  --mobile-gap4: 1.875rem;
  --mobile-gap5: 2.5rem;
  --mobile-gap6: 3.75rem;

  /* Desktop */
  --desktop-gap1: 0.5rem;
  --desktop-gap2: 1rem;
  --desktop-gap3: 1.5rem;
  --desktop-gap4: 3.75rem;
  --desktop-gap5: 5rem;
  --desktop-gap6: 7.5rem;
}
