.whatsapp {
  position: fixed;
  bottom: 6rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 9999rem;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-green, #25d366);
}

.whatsapp__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.whatsapp__icon img {
  width: 2rem;
  height: 2rem;
}

/* Desktop screens: 1248px - x */
@media (min-width: 78rem) {
  .whatsapp {
    display: flex;
  }
}
